<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "[Put your id here]"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[Afraid of Muffins]</name>

    <description>
        Ann app made using Scratch, Phonegap, github, and PhoneGap (Made by potato)
    </description>

    <author href="http://scratch.mit.edu/users/[dropletgame377@gmail.com]" email="[dropletgame377@gmail.com]">
        [ShufflingPotato]
    </author>

</widget>
